<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ project_name }}</title>
    <style>
    table td:first-child {
        text-align: right;
        font-weight: bold;
    }
    </style>
</head>
<body>

<h1>{{ project_name }}</h1>



<table>
    <tr>
        <td width="400px">Description</td>
        <td>{{ short_desc }}</td>
    </tr>
    <tr>
        <td>Number of Samples</td>
        <td>{{ num_samples }}</td>
    </tr>
    <tr>
        <td>Number of Subjects</td>
        <td>{{ num_subjects }}</td>
    </tr>
    <tr>
        <td>Study Design</td>
        <td>{{ study_design }}</td>
    </tr>
    <tr>
        <td>Field</td>
        <td>{{ area }}</td>
    </tr>
    <tr>
        <td>Attribute Values</td>
        <td>
            <ul>
            {% set counter = 0 -%}
            {% for a in attributes -%}
            <li>{{ a }}</li>
            {% set counter = counter + 1 -%}
            {% endfor -%}
            </ul>
        </td>
    </tr>
    <tr>
        <td>Additional Notes on Study Design</td>
        <td>{{ study_design_notes }}</td>
    </tr>
</table>

<h2 align="center">Additional details</h2>
<table>
    <tr>
        <td width="400px">16s Hypervariable Region</td>
        <td>{{ v_region }}</td>
    </tr>
    <tr>
        <td>Targeted amplicon size</td>
        <td>{{ target_size }}</td>
    </tr>
    <tr>
        <td>Sequencing Technology</td>
        <td>{{ sequencing_technology }}</td>
    </tr>
    <tr>
        <td>Fraction of sequences mapped to reference database</td>
        <td>{{ percent_db_hits }}</td>
    </tr>
    <tr>
        <td>Raw Sequence Data Source</td>
        <td> <a href="{{ raw_data_source }}">{{ raw_data_source }}</a></td>
    </tr>
    <tr>
        <td>Literature Source</td>
        <td><a href="{{ literature_source }}">{{ literature_source }}</a></td>
    </tr>
</table>

</body>
</html>
